<div class="back-button"><%= link_to "Back", :back %></div>
<div class="image-container position-fixed">
<div class="back-button"><%= link_to "Back", :back %></div>
  <% if @product.photos.attached? %>
    <div class="slider-container">
      <div class="slider-wrapper">
        <% @product.photos.each_with_index do |photo, index| %>
          <div class="slide <%= 'active' if index.zero? %>">
            <%= cl_image_tag photo.key, class: "w-100 slider-image", alt: "Slide" %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= image_tag "blank_image.png", class: "w-100 position-fixed" %>
  <% end %>
</div>
<div class="container parallax">
  <%# Big Card %>
  <a href="/score">
    <div class="col-12 mx-auto">
        <div class="card--score">
          <div class="card--score-sdg">
            <% circle_class = "circle circle--medium circle--medium-#{@product_fabric.fabric.weighted_average_score}" %>
            <div class="<%= circle_class %>"><%= @product_fabric.fabric.weighted_average_score %></div>
          </div>
          <div class="card--score-content py-3">
            <h6 class="bold"><%="#{@product.item_name}"%></h6>
            <p class="small">Pre-defined message based on score.</p>
            <%= link_to "Back", :back %>
          </div>
        </div>
    </div>
  </a>
  <H4> <%= @product_fabric.fabric.name.capitalize %> </H4>
  <% @product_fabric.fabric.sdgs.each_with_index do |sdg, index| %>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-<%=index%>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%=index%>" aria-expanded="false" aria-controls="flush-collapse<%=index%>">
            <div class="<%= "circle circle--small circle--small-#{sdg.score}" %>">
                  <%= sdg.score %>
                </div>
                <%= sdg.name %>
          </button>
        </h2>
        <div id="flush-collapse<%=index%>" class="accordion-collapse collapse" aria-labelledby="flush-<%=index%>" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><%= sdg.description %></div>
        </div>
      </div>
    </div>
  <% end %>
