<div class="container">
  <img src="#">
  <h6>Back</h6>
  <ul>
    <li>Add to bookmarks</li>
    <li>Save to wardrobe</li>
    <li>Share with friends</li>
    <li>Delete scan</li>
  </ul>
  <div class="circle-large">1</div>
  <p>
    Used to address the cultivation of fibers and materials as they relate greenhouse
    gas (GHG) emissions.
  </p>
  <h2><%= fabric.name %></h2>
  <div>
    <h5><%= sdgs.name %></h5>
    <p><%= sdgs.description %></p>
    <div>
      <div class="circle-small">1</div>
    </div>
  </div>
  <div>
    <h5><%= sdgs.name %></h5>
    <p><%= sdgs.description %></p>
    <div>
      <div class="circle-small">1</div>
    </div>
  </div>
  <div>
    <h5><%= sdgs.name %></h5>
    <p><%= sdgs.description %></p>
    <div>
      <div class="circle-small">1</div>
    </div>
  </div>
  <div>
    <h5><%= sdgs.name %></h5>
    <p><%= sdgs.description %></p>
    <div>
      <div class="circle-small">1</div>
    </div>
  </div>
  <div>
    <h5><%= sdgs.name %></h5>
    <p><%= sdgs.description %></p>
    <div>
      <div class="circle-small">1</div>
    </div>
  </div>
  <div>
    <h5><%= sdgs.name %></h5>
    <p><%= sdgs.description %></p>
    <div>
      <div class="circle-small">1</div>
    </div>
  </div>
  <div>
    <h5><%= sdgs.name %></h5>
    <p><%= sdgs.description %></p>
    <div>
      <div class="circle-small">1</div>
    </div>
  </div>
  <div>
    <h5><%= sdgs.name %></h5>
    <p><%= sdgs.description %></p>
    <div>
      <div class="circle-small">1</div>
    </div>
  </div>
  <div>
    <h5><%= sdgs.name %></h5>
    <p><%= sdgs.description %></p>
    <div>
      <div class="circle-small">1</div>
    </div>
  </div>
</div>
