<div class="image-container">
  <% if @product.photos.attached? %>
    <div class="slider-container">
      <div class="slider-wrapper">
        <% @product.photos.each_with_index do |photo, index| %>
          <div class="slide <%= 'active' if index.zero? %>">
            <%= cl_image_tag photo.key, class: "w-100", alt: "Slide" %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= image_tag "blank_image.png", class: "w-100" %>
  <% end %>
</div>
<div class="container">
<div class="col-12 mx-auto">
    <div class="card--score">
      <div class="card--score-sdg">
        <% circle_class = "circle circle--medium circle--medium-#{@product_fabric.fabric.weighted_average_score}" %>
        <div class="<%= circle_class %>">
          <%= @product_fabric.fabric.weighted_average_score %>
        </div>
    <div class="card--score-content py-3">
      <h6 class="bold"><%= @product_fabric.fabric.name.capitalize %></h6>
      <p class="small"><%="#{@product.item_name}"%></p>
      <%= link_to "Back", :back %>
    </div>
    </div>
</div>
<% @product_fabric.fabric.sdgs.each do |sdg| %>
    <div class="col-12 mx-auto">
      <div class="card--item">
        <div class="card--item-info">
          <div class="info-circle">
          <p><%=" "%><span class="xs">icon</span></p>
          </div>
          </div>
          <div class="card--item-content py-3 no-border">
          <h5><%= sdg.name %></h5>
          <p><%= sdg.description %>.</p>
          </div>
        <div class="card--item-sdg">
        <% circle_class = "circle circle--small circle--small-#{sdg.score}" %>
        <div class="<%= circle_class %>">
          <%= sdg.score %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
