<div class="container">
  <div class="col mt-5">
    <div class="row profile-header">
      <div class="back-button">
        <%= link_to "Back", :back %>
      </div>
      <h3 class="text-center">Wardrobe</h3>
    </div>

    <div class="col-12 mx-auto d-flex justify-content-center mt-5">
      <div class="circle circle--large circle--large-1">1</div>
    </div>


    <!-- Button trigger modal -->
    <%# <p class="" data-bs-toggle="modal" data-bs-target="#exampleModal"> %>
    <%= image_tag "Vector.svg", data: { bs_toggle: "modal", bs_target: "#exampleModal" } %>
    <%# </p> %>
    <div>
      <%= link_to "All", wardrobes_path  %>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Filter by</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <%= form_with url: wardrobes_path, method: :get do |f| %>
            <div class="modal-body">
              <h6>Categories</h6>
              <ul class="text-decoration-none" style="list-style-type: none">
                <%= f.collection_check_boxes(:category, @categories, :id, :name)  do |b| %>
                  <li>
                    <%= b.check_box %>
                    <%= b.label %>
                  </li>
                <% end %>
              </ul>
              <h6>Fabrics</h6>
              <ul class="text-decoration-none" style="list-style-type: none" >
                <%= f.collection_check_boxes(:fabric, @fabrics, :id, :name) do |b| %>
                  <li>
                    <%= b.check_box %>
                    <%= b.label %>
                  </li>
                <% end %>
              </ul>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <%= submit_tag "Search", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row mt-5 px-3">
      <% @products.each do |product| %>
        <div class="col-12 mx-auto mt-1">
          <div class="card--product">
            <%= render "shared/product_avatar", product: product %>
            <div class="card--product-content">
              <p class="small bold"><%= product.item_name %></p>
              <p class="xs"><%= product.score %></p>
            </div>
            <div class="card--product-icon">
              <%= link_to edit_product_path(product) do %>
                <%= image_tag "pencil-black", alt: "text" %>
              <% end %>
              <%= link_to wardrobe_path(product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <%= image_tag "trash-red", alt: "text" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%# <h3 class="text-center">Wardrobe</h3> %>
</div>
