<div class="container">
  <div class="col mt-5">
    <div class="row profile-header">
      <div class="back-button">
        <%= link_to "Back", root_path %>
      </div>
      <h3 class="text-center">Wardrobe</h3>
    </div>

    <div class="col-12 mx-auto d-flex justify-content-center mt-5">
      <div class="circle circle--large circle--large-1">1</div>
    </div>


    <!-- Button trigger modal -->
    <%# <p class="" data-bs-toggle="modal" data-bs-target="#exampleModal"> %>
    <%= image_tag "Vector.svg", data: { bs_toggle: "modal", bs_target: "#exampleModal" } %>
    <%# </p> %>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Filter by</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h6>Categories</h6>
            <ul>
              <% @categories.each do |category| %>
                <li class="nav-item active"><input type="checkbox" id="<%= category.name %>"><label for="<%= category.name %>"><%= category.name %></label></li>
              <% end %>
            </ul>
            <h6>Fabrics</h6>
            <ul>
              <% @fabrics.each do |fabric| %>
                <li class="nav-item active"><input type="checkbox" id="<%= fabric.name %>"><label for="<%= fabric.name %>"><%= fabric.name %></label></li>
              <% end %>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2 px-3">
      <% @products.each do |product| %>
        <div class="col-12 mx-auto mt-5">
          <div class="card--product">
            <div class="avatar">
              <%= image_tag "dummy_avatar.jpg", class: "avatar" %>
            </div>
            <div class="card--product-content">
              <p class="small bold"><%= product.item_name %></p>
              <p class="xs"><%= product.score %></p>
            </div>
            <div class="card--product-icon">
              <%= link_to edit_product_path(product) do %>
                <%= image_tag "pencil-black", alt: "text" %>
              <% end %>
              <%= link_to wardrobe_path(product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <%= image_tag "trash-red", alt: "text" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%# <h3 class="text-center">Wardrobe</h3> %>
</div>
