<footer class="footer mt-auto py-3 bg-white d-flex">
    <div class="icon-container w-100">
      <a href="#" class="icon"><%= image_tag 'home.svg' %></a>
      <a href="#" class="icon"><%= image_tag 'bookmark.svg' %></a>
      <a href="#" class="icon"><%= image_tag 'scan.svg' %></a>
      <a href="#" class="icon"><%= image_tag 'hanger.svg' %></a>
      <a href="#" class="icon"><%= image_tag 'user.svg' %></a>
    </div>
</footer>
