<footer class="footer mt-auto py-3 bg-white d-flex mobile-only">
    <div class="icon-container w-100">
      <a href="/" class="icon"><%= image_tag 'home.svg' %></a>
      <a href="/bookmarks" class="icon"><%= image_tag 'bookmark.svg' %></a>
      <a href="/scans/new" class="icon <%= 'opacity-0' if controller_name == "scans" && action_name == "new" %>"><%= image_tag 'scan.svg' %></a>
      <a href="/wardrobes" class="icon"><%= image_tag 'hanger.svg' %></a>
      <a href="/profile" class="icon"><%= image_tag 'user.svg' %></a>
    </div>
</footer>
