<div class="back-button"><%= link_to "Back", :back %></div>
<div class="container">
  <div class="col mt-5 mx-auto">
    <p style="color: green"><%= notice %></p>
    <h1>Scans</h1>

    <div class="row mt-5">
      <% @scans.each do |scan| %>
        <div class="col-6 mt-4">

            <% if scan.photo.attached? %>
              <%= cl_image_tag scan.photo.key , alt: "tag scan", class: "w-100" %>
            <% end %>
          <div class="scan-action">
           <%= link_to 'Show', scan , class: 'btn btn-primary m-0 w-100'%>
           <%= link_to 'Edit', edit_scan_path(scan), class: 'btn btn-secondary m-0 w-50' %>
           <%= link_to 'Destroy', scan, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-warning m-0 w-50' %>
          </div>

        </div>
      <% end %>
    </div>
    <div class="row mt-5">
    <%= link_to "New scan", new_scan_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
