<div class="container">
  <div class="col mt-5 mx-auto">
    <h3>Welcome back 🌼</h3>
    <h6><%= "#{current_user.first_name} #{current_user.last_name}" %></h6>

    <div class="row height d-flex justify-content-center align-items-center border-radius">
      <div class="col-md-6 mt-4">
        <%# Search Bar %>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <%# Image Slider %>
        <div class="image-slider row mt-5">
          <div class="col-12">
            <h5 class="bold">Commom worry</h5>
            <div class="image-container">
              <div class="image-wrapper mt-4 me-4">
                 <%= image_tag "Climate.jpeg", alt: "image", class: "image-item" %>
              </div>
              <div class="image-wrapper mt-4 me-4">
                 <%= image_tag "land.jpeg", alt: "image", class: "image-item" %>
              </div>
              <div class="image-wrapper mt-4 me-4">
                 <%= image_tag "tag_scan3.webp", alt: "image", class: "image-item" %>
              </div>
              <div class="image-wrapper mt-4 me-4">
                 <%= image_tag "tag_scan.jpeg", alt: "image", class: "image-item" %>
              </div>
              <div class="image-wrapper mt-4 me-4">
                 <%= image_tag "tag_scan.jpeg", alt: "image", class: "image-item" %>
              </div>
              <div class="image-wrapper mt-4 me-4">
                 <%= image_tag "tag_scan.jpeg", alt: "image", class: "image-item" %>
              </div>

            </div>
          </div>
        </div>
        <div class="image-slider row mt-5">
          <div class="col-12">
            <h5 class="bold">Latest Scans</h5>
            <div class="image-container">
              <div class="image-wrapper mt-4 me-4">
                 <%= image_tag "tag_scan.jpeg", alt: "image", class: "image-item" %>
              </div>
              <div class="image-wrapper mt-4 me-4">
                 <%= image_tag "tag_scan.jpeg", alt: "image", class: "image-item" %>
              </div>
              <div class="image-wrapper mt-4 me-4">
                 <%= image_tag "tag_scan3.webp", alt: "image", class: "image-item" %>
              </div>
              <div class="image-wrapper mt-4 me-4">
                 <%= image_tag "tag_scan.jpeg", alt: "image", class: "image-item" %>
              </div>
              <div class="image-wrapper mt-4 me-4">
                 <%= image_tag "tag_scan.jpeg", alt: "image", class: "image-item" %>
              </div>
              <div class="image-wrapper mt-4 me-4">
                 <%= image_tag "tag_scan.jpeg", alt: "image", class: "image-item" %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
