<%= simple_form_for(@product) do |f| %>
<%= f.input :item_name%>
<div data-controller-target="fabric-list">
  <div data-controller-target="fabric">
    <input type="text" name="fabric_type_1">
    <input type="text" name="fabric_composition_1">
  </div>
  <div data-controller-target="fabric">
    <input type="text" name="fabric_type_2">
    <input type="text" name="fabric_composition_2">
  </div>
  <button data-action="click->controller#addFabric">Add</button>
</div>
<%= f.input :made_in%>
<%= f.input :brand%>
<%= f.association :category%>
<%= f.input :purchased_in%>
<%= f.input :certification_label%>
<%= f.input :photos, as: :file, input_html: { multiple: true } %>
<%= f.input :comments%>
<%= f.submit class: 'button button-green w-100 m-0 mt-4'%>
<%= link_to "Delete", root_path,  class: 'button button-beige m-0 mt-4 w-100' %>
<%# need to update the delete button to actually delete this input %>
<% end %>
