<%= simple_form_for @product, html: { data: { controller: "fabric-list" }} do |f| %>
  <%= f.input :item_name %>
  <div data-fabric-list-target="list">
    <% if action_name == "new" %>
      <%= render "products/fabric_input", fabric: ProductFabric.new, index: 0%>
    <% end %>
    <% @product.product_fabrics.each_with_index do |fabric, index| %>
      <% index += 1 %>
      <%= render "products/fabric_input", fabric: fabric, index: index %>
    <% end %>
  </div>
  <%= image_tag "Arrow.svg", alt: "text", data: {action: "click->fabric-list#add"} %>
  <%= f.hidden_field :counter, value: @product.product_fabrics.size == 0 ? 1 : @product.product_fabrics.size, data: { fabric_list_target: "counter" } %>
  <%= f.hidden_field :deleted_items, data: { fabric_list_target: "deletedItems" } %>
  <%= f.input :made_in %>
  <%= f.input :brand %>
  <%= f.association :category %>
  <%= f.input :purchased_in %>
  <%= f.input :certification_label %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.input :comments %>
  <%= f.submit class: 'button button-green w-100 m-0 mt-4' %>
  <%= link_to "Delete", root_path(@product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button button-beige m-0 mt-4 w-100' %>
<% end %>
