<%= simple_form_for(@product) do |f| %>
<%= f.input :item_name%>
<div data-controller-target="fabric-list">
  <div data-controller-target="fabric">
    <input type="text" name="fabric-type-1">
    <input type="text" name="fabric-composition-1">
  </div>
  <div data-controller-target="fabric">
    <input type="text" name="fabric-type-2">
    <input type="text" name="fabric-composition-2">
  </div>
  <button data-action="click->controller#addFabric">Add</button>
</div>
<%= f.input :made_in%>
<%= f.input :brand%>
<%= f.input :category%>
<%= f.input :purchased_in%>
<%= f.input :certification_label%>
<%= f.input :more_images, as: :file, input_html: { multiple: true } %>
<%= f.input :comments%>
<%= f.submit class: 'btn btn-primary'%>
<%= link_to "Delete", root_path %>
<% end %>
