<div class="container">
  <div class="col mt-5">
    <div class="row page-header">
      <div class="back-button">
        <%= link_to "Back", root_path %>
      </div>
      <h3 class="text-center">My products</h3>
    </div>

    <div class="row mt-5 px-3">
      <% @products.each do |product| %>
        <div class="col-12 mx-auto mt-1">
          <%= link_to product_path(product) do %>
            <% unless product.in_wardrobe? %>
            <div class="card--product">
              <div class="avatar">
                <% if product.photos.attached? %>
                  <%= cl_image_tag product.photos.first.key, alt: "text", class: "avatar" %>
                <% elsif product.scan&.photo&.attached? %>
                  <%= cl_image_tag product.scan.photo.key, alt: "text", class: "avatar" %>
                <% else %>
                  <%= image_tag "blank_image", class:"avatar" %>
                <% end %>
              </div>
              <div class="card--product-content">
                <p class="small bold"><%= product.item_name %></p>
                <p class="xs">Score: <%= product.score %></p>
              </div>
              <div class="card--product-icon">
                <%= link_to product_wardrobes_path(product), data: { turbo_method: :post } do %>
                  <%= image_tag "hanger-green.svg", alt: "text" %>
                <% end %>
                <%= link_to edit_product_path(product) do %>
                  <%= image_tag "pencil-black.svg", alt: "text" %>
                <% end %>
                <%= link_to product_path(product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                  <%= image_tag "trash-red.svg", alt: "text" %>
                <% end %>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
