<div class="back-button"><%= link_to "Back", :back %></div>
<div class="image-container position-fixed">

  <% if @product.photos.attached? || @product.scan%>
    <% if @product.scan %>
      <% if @product.scan.photo.attached? %>
        <div class="slide">
          <%= cl_image_tag @product.scan.photo.key, class: "w-100 position-fixed", alt: "Slide" %>
        </div>
      <% end %>
    <% elsif @product.photos.attached? %>
      <div class="slider-container">
        <div class="slider-wrapper">
          <% @product.photos.each_with_index do |photo, index| %>
            <div class="slide <%= 'active' if index.zero? %>">
              <%= cl_image_tag photo.key, class: "w-100 position-fixed", alt: "Slide" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= image_tag "blank_image.png", class: "w-100 position-fixed" %>
  <% end %>
</div>
<div class="container parallax">
<%# Big Card %>
<a href="/score">
  <div class="col-12 mx-auto">
      <div class="card--score">
        <div class="card--score-sdg">
          <% weighted_average_rounded = @average.ceil %>
          <% circle_class = "circle circle--medium circle--medium-#{weighted_average_rounded}" %>
          <div class="<%= circle_class %>"><%= weighted_average_rounded %></div>
        </div>
        <div class="card--score-content py-3">
          <h6 class="bold">It's a start</h6>
          <p class="small"> <%= @product.comments %> </p>
          <%= link_to "Edit", edit_product_path(@product)%>
        </div>
      </div>
  </div>
</a>
<h4><%= "#{@product.item_name}"%></h4>

<% @product.product_fabrics.each do |product_fabric| %>
    <div class="col-12 mx-auto">
      <%= link_to product_fabric_path(product_fabric), class: "card--item-link" do %>
      <div class="card--item">
        <div class="card--item-info">
          <div class="info-circle">
          <p><%=product_fabric.fabric_percent%><span class="xs">%</span></p>
          </div>
          </div>
          <div class="card--item-content py-3 no-border">
          <h5><%=product_fabric.fabric.name%></h5>
          <p>The material used to create a textile, defining its texture, durability, and overall characteristics</p>
          </div>
        <div class="card--item-sdg">
        <% average_score = product_fabric.fabric.weighted_average_score %>
        <% circle_class = "circle circle--small circle--small-#{average_score}" %>
        <div class="<%= circle_class %>">
          <%= average_score %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
  <% if @product.made_in != "nil" && @product.made_in.present? %>
  <div class="col-12 mx-auto">
    <div class="card--item">
      <div class="card--item-info">
        <div class="info-circle">
          <% c = ISO3166::Country.find_country_by_any_name(@product.made_in) %>
          <% if c %>
            <p class="info-circle--flag"><%= c.emoji_flag %></p>
          <% else %>
            <p class="info-circle--flag">🌎</p>
          <% end %>
        </div>
      </div>
      <div class="card--item-content no-border py-3">
        <h5><%=@product.made_in%></h5>
        <p>The country where a product was manufactured or produced.</p>
      </div>
    </div>
  </div>
  <% end %>
  <% if @product.brand != "nil" && @product.brand.present? %>
    <div class="col-12 mx-auto">
    <div class="card--item">
      <div class="card--item-info">
        <div class="info-circle">
          <% if @product.brand_logo %>
            <%= image_tag @product.brand_logo, class: "info-circle--brand",alt: "#{@product.brand}" %>
          <% else %>
            <p><%="brand"%><span class="xs"></span></p>
          <% end %>
        </div>
      </div>
      <div class="card--item-content no-border py-3">
        <h5><%=@product.brand%></h5>
        <p>The brand where clothing was bought refers to the specific label or company that produced the purchased garment.</p>
      </div>
    </div>
  </div>
  <% end %>
  <% if @product.category.present?%>
    <div class="col-12 mx-auto">
    <div class="card--item">
      <div class="card--item-info">
        <div class="info-circle">
          <p class="info-circle--flag">👕</p>
        </div>
      </div>
      <div class="card--item-content no-border py-3">
        <h5><%=@product.category.name%></h5>
        <p>A category name in fashion is a classification that groups together similar styles or types of clothing.</p>
      </div>
    </div>
  </div>
  <% end %>
  <% if @product.purchased_in.present?%>
    <div class="col-12 mx-auto">
    <div class="card--item">
      <div class="card--item-info">
        <div class="info-circle">
          <p class="info-circle--flag">🛍️</p>
        </div>
      </div>
      <div class="card--item-content no-border py-3">
        <h5><%=@product.purchased_in%></h5>
        <p>The location or origin of the acquisition, specifying where the item was bought.</p>
      </div>
    </div>
  </div>
  <% end %>
  <% if @product.certification_label.present?%>
    <div class="col-12 mx-auto">
    <div class="card--item">
      <div class="card--item-info">
        <div class="info-circle">
          <p class="info-circle--flag">📝</p>
        </div>
      </div>
      <div class="card--item-content no-border py-3">
        <h5><%=@product.certification_label%></h5>
        <p>A certification label in fashion signals adherence to specific sustainability or ethical standards, providing consumers with transparency.</p>
      </div>
    </div>
  </div>
  <% end %>
  <% unless @product.in_wardrobe? %>
    <%= link_to "Add to Wardrobe", product_wardrobes_path(@product.id), data: { turbo_method: :post }, class: "button button-green w-100 m-0 mt-4" %>
    <% end %>
  <%# <%= link_to "Add to Wardrobe", product_wardrobes_path(@product.id), data: { turbo_method: :post }, class: "button button-green w-100 m-0 mt-4"
  <%= link_to "Delete", root_path(@product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button button-beige m-0 mt-4 w-100' %>
</div>
</div>
