<div class="back-button"><%= link_to "Back", :back %></div>
<div class="image-container postion-fixed">
  <% if @product.photos.attached? %>
    <div class="slider-container">
      <div class="slider-wrapper">
        <% @product.photos.each_with_index do |photo, index| %>
          <div class="slide <%= 'active' if index.zero? %>">
            <%= cl_image_tag photo.key, class: "w-100", alt: "Slide" %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= image_tag "blank_image.png", class: "w-100" %>
  <% end %>
</div>
<div class="container parallax">
<%# Big Card %>
<a href="/score">
  <div class="col-12 mx-auto">
      <div class="card--score">
        <div class="card--score-sdg">
          <% weighted_average_rounded = @average.ceil %>
          <% circle_class = "circle circle--medium circle--medium-#{weighted_average_rounded}" %>
          <div class="<%= circle_class %>"><%= weighted_average_rounded %></div>
        </div>
        <div class="card--score-content py-3">
          <h6 class="bold">Not-good-enough</h6>
          <p class="small"> <%= @product.comments %> </p>
          <%= link_to "Edit", edit_product_path(@product)%>
        </div>
      </div>
  </div>
</a>
<h4><%= "#{@product.item_name}"%></h4>

<% @product.product_fabrics.each do |product_fabric| %>
    <div class="col-12 mx-auto">
      <%= link_to product_fabric_path(product_fabric), class: "card--item-link" do %>
      <div class="card--item">
        <div class="card--item-info">
          <div class="info-circle">
          <p><%=product_fabric.fabric_percent%><span class="xs">%</span></p>
          </div>
          </div>
          <div class="card--item-content py-3 no-border">
          <h5><%=product_fabric.fabric.name%></h5>
          <p>XXX Land is a place where you can build your own world.</p>
          </div>
        <div class="card--item-sdg">
        <% average_score = product_fabric.fabric.weighted_average_score %>
        <% circle_class = "circle circle--small circle--small-#{average_score}" %>
        <div class="<%= circle_class %>">
          <%= average_score %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
  <% if @product.made_in.present? %>
  <div class="col-12 mx-auto">
    <div class="card--item">
      <div class="card--item-info">
        <div class="info-circle">
          <p><%="flag"%><span class="xs"></span></p>
        </div>
      </div>
      <div class="card--item-content no-border py-3">
        <h5><%=@product.made_in%></h5>
        <p>Land is a place where you can build your own world.</p>
      </div>
    </div>
  </div>
  <% end %>
  <% if @product.brand.present? %>
    <div class="col-12 mx-auto">
    <div class="card--item">
      <div class="card--item-info">
        <div class="info-circle">
          <p><%="brand"%><span class="xs"></span></p>
        </div>
      </div>
      <div class="card--item-content no-border py-3">
        <h5><%=@product.brand%></h5>
        <p>Land is a place where you can build your own world.</p>
      </div>
    </div>
  </div>
  <% end %>
  <% if @product.category.present?%>
    <div class="col-12 mx-auto">
    <div class="card--item">
      <div class="card--item-info">
        <div class="info-circle">
          <p><%=" "%><span class="xs"></span></p>
        </div>
      </div>
      <div class="card--item-content no-border py-3">
        <h5><%=@product.category.name%></h5>
        <p>Land is a place where you can build your own world.</p>
      </div>
    </div>
  </div>
  <% end %>
  <% if @product.purchased_in.present?%>
    <div class="col-12 mx-auto">
    <div class="card--item">
      <div class="card--item-info">
        <div class="info-circle">
          <p><%=" "%><span class="xs"></span></p>
        </div>
      </div>
      <div class="card--item-content no-border py-3">
        <h5><%=@product.purchased_in%></h5>
        <p>Land is a place where you can build your own world.</p>
      </div>
    </div>
  </div>
  <% end %>
  <% if @product.certification_label.present?%>
    <div class="col-12 mx-auto">
    <div class="card--item">
      <div class="card--item-info">
        <div class="info-circle">
          <p><%=" "%><span class="xs"></span></p>
        </div>
      </div>
      <div class="card--item-content no-border py-3">
        <h5><%=@product.certification_label%></h5>
        <p>Land is a place where you can build your own world.</p>
      </div>
    </div>
  </div>
  <% end %>
  <%= link_to "Add to Wardrobe", product_wardrobes_path(@product.id), data: { turbo_method: :post }, class: "button button-green w-100 m-0 mt-4" %>
  <%= link_to "Delete", root_path(@product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button button-beige m-0 mt-4 w-100' %>
</div>
</div>
