<div class="image-container">
  <% if @product.photos.attached? %>
    <div class="slider-container">
      <div class="slider-wrapper">
        <% @product.photos.each_with_index do |photo, index| %>
          <div class="slide <%= 'active' if index.zero? %>">
            <%= cl_image_tag photo.key, class: "w-100", alt: "Slide" %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= image_tag "blank_image.png", class: "w-100" %>
  <% end %>
</div>
<div class="container">
<div class="col-12 mx-auto">
  <div class="card--score">
    <div class="card--score-sdg">
      <div class="circle circle--medium circle--medium-3">3</div>
    </div>
    <div class="card--score-content py-3">
      <h6 class="bold">Not-good-enough</h6>
      <p class="small">Pre-defined message based on score.</p>
    </div>
    </div>
</div>
<h4><%= "#{@product.item_name}" %></h4>
<%= link_to "Edit", edit_product_path(@product) %>


<% @product.product_fabrics.each do |product_fabric| %>
    <div class="col-12 mx-auto">
      <div class="card--item">
        <div class="card--item-info">
          <div class="info-circle">
          <p><%=product_fabric.fabric_percent%><span class="xs">%</span></p>
          </div>
          </div>
          <div class="card--item-content py-3 no-border">
          <h5><%=product_fabric.fabric.name%></h5>
          <p>XXX Land is a place where you can build your own world.</p>
          </div>
        <div class="card--item-sdg">
        <div class="circle circle--small circle--small-3"><%= product_fabric.fabric.weighted_average_score %></div>
      </div>
    </div>
  </div>
  <% end %>
  <% if @product.made_in.present? %>
  <div class="col-12 mx-auto">
    <div class="card--item">
      <div class="card--item-info">
        <div class="info-circle">
          <p><%="flag"%><span class="xs"></span></p>
        </div>
      </div>
      <div class="card--item-content no-border py-3">
        <h5><%=@product.made_in%></h5>
        <p>Land is a place where you can build your own world.</p>
      </div>
    </div>
  </div>
  <% end %>
  <% if @product.brand.present? %>
    <div class="col-12 mx-auto">
    <div class="card--item">
      <div class="card--item-info">
        <div class="info-circle">
          <p><%="brand"%><span class="xs"></span></p>
        </div>
      </div>
      <div class="card--item-content no-border py-3">
        <h5><%=@product.brand%></h5>
        <p>Land is a place where you can build your own world.</p>
      </div>
    </div>
  </div>
  <% end %>
  <% if @product.category.present?%>
    <div class="col-12 mx-auto">
    <div class="card--item">
      <div class="card--item-info">
        <div class="info-circle">
          <p><%=" "%><span class="xs"></span></p>
        </div>
      </div>
      <div class="card--item-content no-border py-3">
        <h5><%=@product.category.name%></h5>
        <p>Land is a place where you can build your own world.</p>
      </div>
    </div>
  </div>
  <% end %>
  <% if @product.purchased_in.present?%>
    <div class="col-12 mx-auto">
    <div class="card--item">
      <div class="card--item-info">
        <div class="info-circle">
          <p><%=" "%><span class="xs"></span></p>
        </div>
      </div>
      <div class="card--item-content no-border py-3">
        <h5><%=@product.purchased_in%></h5>
        <p>Land is a place where you can build your own world.</p>
      </div>
    </div>
  </div>
  <% end %>
  <% if @product.certification_label.present?%>
    <div class="col-12 mx-auto">
    <div class="card--item">
      <div class="card--item-info">
        <div class="info-circle">
          <p><%=" "%><span class="xs"></span></p>
        </div>
      </div>
      <div class="card--item-content no-border py-3">
        <h5><%=@product.certification_label%></h5>
        <p>Land is a place where you can build your own world.</p>
      </div>
    </div>
  </div>
  <% end %>
  <%= link_to "Add to Wardrobe", wardrobes_path(product_id: @product.id), class: "button-green" %>
  <%= link_to "Delete", root_path %>
</div>
