<!DOCTYPE html>
<html>
  <head>
    <title>TagId</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'logo.png' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="desktop-only">
      <h1>Please open app in mobile</h1>
    </div>
    <div class="mobile-only">
      <%= yield %>
    </div>
  </body>
</html>
